mixin partners()
  // Partners
  SECTION.section-partners
    .container
      +b.partners
        +e.IMG(src="/assets/images/partner-1.png")
        +e.IMG(src="/assets/images/partner-2.png")
        +e.IMG(src="/assets/images/partner-3.png")
        +e.IMG(src="/assets/images/partner-4.png")
      
  // Partners end