.section-partners
  background url("/assets/images/partners-bg.jpg") no-repeat
  background-size cover
  padding 139px 0

.partners
  display flex
  justify-content space-around
  flex-wrap wrap
  align-items center
  box-sizing border-box 
  padding 0 15px
  img 
    margin 0 5px 0 5px
    +below(1010px)
      margin 30px 10px