mixin start()
  // Start starts 
  SECTION.section-start
    .container
      A(name="start")
      +b.start
        +e.text
          h3 Are you ready to go?
          p Here the call to action area. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        +b.A(href="").a-start START YOUR PROJECT
  // Start ends 