.section-start
  background-color #36c36e

.start
  padding 34px 4px 59px 6px
  display flex
  justify-content space-between
  flex-wrap wrap
  +below(768px)
    justify-content space-around
    text-align center
  &__text
    width 70%
    h3
      color white
      font-size 22px
      margin-bottom 5px
      letter-spacing 0.9px
    p
      color white
      margin 8px 0 0 0
  .a-start
    border 2px solid white
    background-color inherit
    width 207px
    margin 26px 0 0 0
    letter-spacing 0
    +below(500px)
      margin 20px auto
    &:hover
      background-color white
      color #4ecb8c