.section-services
  background-color rgb(251, 250, 248)
  padding 100px 0 100px 0

.services
  display flex
  flex-wrap wrap
  justify-content space-between
  &__item
    width 300px
    text-align center
  &__line-block
    margin 20px auto
    width 70px
    height 3px
    background #f1eee9