.section-services
  padding 100px 0 100px 0

.services
  display flex
  flex-wrap wrap
  justify-content space-around
  &__item
    width 300px
    text-align center
    color #8c8c8c
    svg
      fill #555555
    &:hover
      color #c7b299
      svg
        fill #c7b299
      .services__line-block
        background #c7b299
  &__ttl
    margin 25px 0 15px 0
  &__text
    line-height 1.5rem
  &__line-block
    margin 20px auto
    width 70px
    height 3px
    background #f1eee9