mixin services()
  // Services
  SECTION.section-services
    .container
      +b.services
        +e.A(href="#").item
          include ../../../assets/images/svg/icon-services-1.svg
          +e.H4.ttl Web & App Design
          +e.P.text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas facere possimus hic.
          +e.DIV.line-block
        +e.A(href="#").item
          include ../../../assets/images/svg/icon-services-2.svg
          +e.H4.ttl Development
          +e.P.text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas facere possimus hic.
          +e.DIV.line-block
        +e.A(href="#").item
          include ../../../assets/images/svg/icon-services-3.svg
          +e.H4.ttl Customization
          +e.P.text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas facere possimus hic.
          +e.DIV.line-block
        +e.A(href="#").item
          include ../../../assets/images/svg/icon-services-4.svg
          +e.H4.ttl Marketing
          +e.P.text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas facere possimus hic.
          +e.DIV.line-block
  // Services end