extends ../layouts/main
include ../blocks/hero/hero
include ../blocks/features/features
include ../blocks/story/story
include ../blocks/testimonials/testimonials
include ../blocks/experience/experience
include ../blocks/blog/blog
include ../blocks/start/start
include ../blocks/modal-contacts/modal-contacts

block content
  +hero()
  +features()
  +story()
  +testimonials()
  +experience()
  +blog()
  +start()
  +modal-contacts()
