extends ../layouts/main
include ../blocks/hero/hero
include ../blocks/services/services
include ../blocks/about/about
include ../blocks/projects/projects
include ../blocks/presentation/presentation
include ../blocks/mobile/mobile
include ../blocks/numbers/numbers
include ../blocks/posts/posts
include ../blocks/partners/partners

block content
  +hero()
  +services()
  +about()
  +projects()
  +presentation()
  +mobile()
  +numbers()
  +posts()
  +partners()
