.section-mobile
  padding 100px 0 279px 0
  background-color  #fbfaf8

.mobile
  &__image
    float left
  &__text
    color #8c8c8c
    font-size 1rem
    line-height 1.75rem
    margin 0 0 50px 0
  ul 
    list-style none
    li 
      line-height 2rem
    svg
      margin 0 30px -5px 0
      fill #c7b299