mixin mobile()
  // Mobile
  SECTION.section-mobile
    .container
      +b.mobile
        +e.IMG(src="/assets/images/mobile.png").image
        +e.H2.ttl Excellent for Mobile Devices
        +e.P.text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime, nihil exercitationem dolorem quod ullam natus vero aperiam nulla est voluptate omnis tempora ipsa magni adipisci hic non dignissimos beatae, doloremque porro eligendi velit dolore. Distinctio cumque quibusdam veritatis odit odio.
        +e.UL
          li 
            include ../../../assets/images/svg/icon-marker.svg
            | Lorem ipsum dolor sit amet consectetur adipisicing;
          li 
            include ../../../assets/images/svg/icon-marker.svg
            | Maxime, nihil exercitationem dolorem quod ullam natus vero aperiam;
          li 
            include ../../../assets/images/svg/icon-marker.svg
            | Distinctio cumque quibusdam veritatis odit odio;
          li 
            include ../../../assets/images/svg/icon-marker.svg
            | Amet consectetur adipisicing
      
  // Mobile ends 