.section-projects
  padding 75px 0 82px 0

.projects
  display flex
  flex-direction column
  align-items center
  &__text
    text-align center
    max-width 700px
    margin 17px 0 0 0
    line-height 1.75rem
  &__industries
    margin 33px 0 40px 0
    +below(650px)
      width 370px
    +below(400px)
      width 100%
    ul 
      list-style none
      li 
        display inline-block
        +below(650px)
          display block
  &__industry
    cursor pointer
    color #8c8c8c
    font-size 0.875rem
    font-weight 300
    padding 7px 20px
    border 1px solid #ebebeb
    border-radius 3px
    margin 0 3px
    letter-spacing -0.05px
    min-width 25px
    text-align center
    +below(650px)
      display block
    &:hover:not(.active)
      color white
      background #998675
      opacity 0.5
  .active
    color white
    background #998675
  &__wrapper
    width 100%
    display flex
    flex-wrap wrap 
    justify-content space-around
    box-sizing border-box
    padding 0 15px
  .a-button
    margin-top 10px
    height 44px
    line-height 44px

.project
  max-width 370px
  background #fbfaf8
  margin 0 3px 30px 3px
  position relative
  display flex
  flex-direction column
  img 
    +below(400px)
      width 100%
  &__ttl
    color #c7b29a
    z-index 1
    margin-bottom 7px
  &__industry
    color #d1d1d1
    font-size 0.875rem
    font-weight 300
    letter-spacing -0.1px
  &__info
    position relative
    padding 27px 30px
    z-index 1
  &__border-block
    position absolute 
    top -0.875rem
    left 20px
    z-index 1
    path
      fill #fbfaf8

  &__overlay
    position absolute 
    left 0
    top 0
    display none
    width 100%
    height 237px
    +below(400px)
      height 100%
    background rgba(17, 17, 17, 0.7)
    display none
    svg
      cursor pointer
      fill white
      margin 0 14px
      &:hover
        fill #c7b299
      &:active
        opacity 0.7

  &__icons
    +below(400px)
      margin-bottom 3rem
  &:hover
    .project__overlay
      display flex
      align-items center
      justify-content center
    .project__info
      background #362f2d
    .project__border-block
      path
        fill #362f2d
        
