.section-projects
  padding 100px 0

.projects
  display flex
  flex-direction column
  align-items center
  &__text
    text-align center
    max-width 700px
  &__industries
    margin 30px 0
    +below(650px)
      width 370px
    +below(400px)
      width 100%
    ul 
      list-style none
      li 
        display inline-block
        +below(650px)
          display block
        a 
          color #8c8c8c
          font-size 0.875rem
          font-weight 300
          padding 5px 20px
          border 1px solid #ebebeb
          border-radius 3px
          margin 0 2px
          +below(650px)
            display block
  .active
    color white
    background #998675
  &__wrapper
    display flex
    flex-wrap wrap 
    justify-content space-around

.project
  max-width 370px
  background #fbfaf8
  margin-bottom 30px
  position relative
  display flex
  flex-direction column
  img 
    +below(400px)
      width 100%
  &__ttl
    color #c7b29a
    z-index 1
  &__industry
    color #d1d1d1
    font-size 0.875rem
    font-weight 300
  &__info
    position relative
    padding 28px 30px
    z-index 1
  &__border-block
    position absolute 
    top -0.875rem
    left 20px
    z-index 1
    path
      fill #fbfaf8

  &__overlay
    position absolute 
    left 0
    top 0
    display none
    width 100%
    height 237px
    +below(400px)
      height 100%
    background rgba(17, 17, 17, 0.7)
    display none
    svg
      cursor pointer
      fill white
      margin 0 14px
      &:hover
        fill #c7b299
      &:active
        opacity 0.7

  &__icons
    +below(400px)
      margin-bottom 3rem

  &:hover
    .project__overlay
      display flex
      align-items center
      justify-content center
    .project__info
      background #362f2d
    .project__border-block
      path
        fill #362f2d
        
