header
  position absolute
  width 100%
  z-index 2
  left 0
  top 0

.header
  padding 40px 0 0 0
  display flex
  justify-content space-between
  flex-wrap wrap
  .logo
    display flex
    svg
      fill white
    &__ttl
      font-size 2.125rem
      font-family Raleway, sans-serif
      color white
      font-weight 400

.nav-menu
  margin 40px 0 0 0
  display flex
  list-style none
  +below(1100px)
    margin 30px 0 0 0
  +below(600px)
    padding 0
  li
    float left
    text-align center
    line-height 50px
    +below(600px)
      float none
      text-align left
    a
      color white
      font-size 0.875rem
      font-weight 300
      padding 0 15px 10px 15px
      svg
        fill white
        margin-top 10px
        &:hover
          fill #c7b29a
        &:active
          opactiy 0.5
      +below(600px)
        text-align left
        padding 0
      transition all .25s
      &:hover
        color #c7b29a
  &__cart
    margin-left 50px
  &__input
    width 0
    transition width 1s
    padding 0
    border 0
    background rgba(0,0,0,0.2)
    line-height 48px
    color white
    font-size 13px
    font-weight 300
    &:focus
      outline 0
  &__btn-search
    background transparent
    border 0
    padding 0
    cursor pointer
    &:hover svg
      fill #c7b29a
    &:focus
      outline 0
    svg
      fill white
      margin-top 10px
  &__form
    padding 0 10px
    &:hover .nav-menu__input
      width 120px
      padding 0 15px
  &__search:hover+li
    display none