header
  position absolute
  width 100%
  z-index 2
  left 0
  top 0

.header
  padding 40px 0 0 0
  display flex
  justify-content space-between
  flex-wrap wrap
  .logo
    display flex
    &__ttl
      font-size 2.125rem
      font-family Raleway, sans-serif
      color white
      font-weight 400

.nav-menu
  margin 40px 0 0 0
  display flex
  list-style none
  +below(1100px)
    margin 30px 0 0 0
  +below(600px)
    padding 0
  li
    float left
    text-align center
    +below(600px)
      float none
      text-align left
    a
      color white
      font-size 0.875rem
      font-weight 300
      padding 0 15px 10px 15px
      +below(600px)
        text-align left
        padding 0
      transition all .25s
      &:hover
        color #c7b29a
      &:active
        opactiy 0.5
  &__cart
    margin-left 50px
