.footer-top
  background-color #191919
  padding 75px 0
  color white
  .logo
    display flex
    svg
      fill white
    &__ttl
      font-size 2.125rem
      font-family Raleway, sans-serif
      color white
      font-weight 400
      margin 8px 0 0 3px
  &__content
    display flex
    justify-content space-around
    flex-wrap wrap
    padding 0 14px
  &__column
    width 270px
    margin 6px 3px
  &__ttl
    margin 24px 0 24px 0
  &__text
    font-size 0.875rem
    font-weight 300
    color #545454
    line-height 1.5rem
    padding 23px 0 23px 0
  .a-more
    color white
    svg 
      fill white
  &__post-text 
    color #545454
    font-size 0.875rem
    font-weight 300
    line-height 1.25rem
    margin 3px 0
  &__border-block
    background-color #252525
    width 270px
    height 2px
    margin 20px 0
  &__timestamp
    color #363636
    font-size 0.75rem
    font-weight 300
  &__blue
    color #00bff3
    &:hover
      color #959595
    &:active
      opacity 0.7
  &__widgets
    display flex
    justify-content space-between
    flex-wrap wrap
    img
      margin 2px 0 6px 0
  &__post
    &:hover
      .footer__timestamp
        color white
      .footer__post-text 
        color #c7b299

.footer-bot
  background-color #111111
  padding 48px 0 55px 0
  color #545454
  font-size 0.8125rem
  font-weight 300
  &__content
    display flex
    justify-content space-between
    flex-wrap wrap
    box-sizing border-box
    padding 0 8px 0 30px
    +below(750px)
      justify-content space-around
      padding 0 5px
  &__privacy
    +below(750px)
      margin-bottom 5px
  ul 
    list-style none 
    li
      display inline-block
      a 
        color #545454
        padding 0 5px
        +below(400px)
          padding 0
        &:hover
          color #c7b299
        &:active
          opacity 0.7
  &__logo
    color #959595 !important
    &:hover
      color #c7b299 !important
    &:active
      opacity 0.7
  &__credits ul li
    margin-left 5px
    +below(400px)
      margin-left 2px
    a
      color #959595
      margin-right 5px
      &:hover
        color #c7b299
      &:active
        opacity 0.7