.footer-top
  background-color #191919
  padding 100px 0
  color white
  .logo
    display flex
    svg
      fill white
    &__ttl
      font-size 2.125rem
      font-family Raleway, sans-serif
      color white
      font-weight 400
      margin-top 8px
  &__content
    display flex
    justify-content space-around
    flex-wrap wrap
  &__column
    width 270px
    margin 30px 10px
  &__ttl
    margin-bottom 20px
  &__text
    font-size 0.875rem
    font-weight 300
    color #545454
    line-height 1.5rem
    padding 25px 0 30px 0
  .a-more
    color white
    svg 
      fill white
  &__post-text 
    color #545454
    font-size 0.875rem
    font-weight 300
    line-height 1.25rem
  &__border-block
    background-color #252525
    width 270px
    height 2px
    margin 20px 0
  &__timestamp
    color #363636
    font-size 0.75rem
    font-weight 300
  &__blue
    color #00bff3
    &:hover
      color #959595
    &:active
      opacity 0.7
  &__widgets
    display flex
    justify-content space-between
    flex-wrap wrap
    img 
      margin-bottom 10px
  &__post
    &:hover
      .footer__timestamp
        color white
      .footer__post-text 
        color #c7b299

.footer-bot
  background-color #111111
  padding 50px 0
  color #545454
  font-size 0.8125rem
  font-weight 300
  &__content
    display flex
    justify-content space-between
    flex-wrap wrap
    +below(650px)
      justify-content space-around
  ul 
    list-style none 
    li
      display inline-block
      a 
        color #545454
        &:hover
          color #c7b299
        &:active
          opacity 0.7
  &__logo
    color #959595 !important
  &__credits ul li a
    color #959595
    &:hover
      color #c7b299
    &:active
      opacity 0.7