.section-numbers
  background linear-gradient(to right, #1c1412, #4d3122)
  padding 50px 0

.numbers
  display flex
  justify-content space-around
  flex-wrap wrap
  +below(650px)
    flex-direction column
  &__item
    display flex
    flex-direction column
    align-items center
    margin 30px 10px 0 10px
  svg 
    fill #c7b299
  &__number
    font-size 3rem
    font-weight 200
    color white
  &__description
    color #c7b299
    font-weight 300
    font-size 0.875rem
  &__border-block
    width 30px
    height 2px
    background-color white
    margin-top 20px