.section-story
  background-color rgb(242, 242, 242)
  display flex

.story
  margin 120px 0 140px 0
  width 48.5%
  float right
  +below(1000px)
    width 100%
    float none
  h2
    margin 0 0 40px 0
    +below(500px)
      text-align center
  p
    margin 24px 0 20px 0
    line-height 24px
  
  .a-more
    margin 34px 0 0 0
    width 227px
    +below(500px)
      margin 0 auto