mixin story()
  // Story starts 
  SECTION.section-story
    .container
      +b.story
        h2 Our Short Story
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam ab, eum reiciendis est minus officiis itaque harum fugit officia hic aperiam ipsam suscipit a vel eligendi ut commodi? Suscipit nostrum minima molestias perferendis at illum maxime ipsam, recusandae debitis esse.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, cupiditate ullam odio aliquid quas nam totam quae molestias nesciunt? Labore soluta repudiandae itaque perspiciatis repellendus ipsum explicabo mollitia sint architecto fugit?
        +b.A(href="").a-more MORE ABOUT OUR TEAM
  // story ends 