mixin hero()
  // Hero
  SECTION.section-hero
    .container
      //+b.hero
      +b.swiper-container
        +b.swiper-wrapper
          +b.swiper-slide Slide 1
          +b.swiper-slide Slide 2
          +b.swiper-slide Slide 3
        +b.swiper-pagination
        +b.swiper-button-prev
        +b.swiper-button-next
        +b.swiper-scrollbar

  // Hero ends 