mixin hero()
  // Hero starts 
  SECTION.section-hero
    .container
      +b.hero
        +e.content
          h1 We&#8217;re here to create your online presense and style
          +e.text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis aut molestiae harum alias quod eius minima, autem vel rerum accusantium necessitatibus beatae excepturi quis. Accusamus debitis tenetur necessitatibus sed assumenda.
          +b.A(href="").a-start START TODAY WITH US
    VIDEO(src="/assets/uploads/roller-coaster.mp4" autoplay loop muted)
  // Hero ends 