mixin hero()
  // Hero
  SECTION.section-hero
    // Swiper
    +b.swiper-container
      +b.swiper-wrapper
        +b.swiper-slide
          +e.slide-1
        +b.swiper-slide
          +e.slide-2
        +b.swiper-slide
          +e.slide-3
        +b.swiper-slide
          +e.slide-4
        +b.swiper-slide
          +e.slide-5
      +b.swiper-pagination
      +b.swiper-button-prev
        include ../../../assets/images/svg/arrow-right.svg
      +b.swiper-button-next
        include ../../../assets/images/svg/arrow-right.svg
    // Swiper ends
    .container
      +b.hero
        h3 Unique and Modern Design
        h1 Portfolio PSD Template
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Et veritatis totam sint molestias tempora optio aspernatur.
        +b.A(href="").a-button GET STARTED

  // Hero ends 