include ../bemto/bemto.pug
include ../blocks/header/header
include ../mixins/mixins
include ../blocks/footer/footer
include ../blocks/scripts/scripts

-
  set_bemto_settings({
    prefix: '',
    element: '__',
    modifier: '--'
  })


doctype html
html(lang='en')
  include ../blocks/head/head
  body
    .svg-sprite
      include ../blocks/sprite/svg.svg
    +header()
    block content
    +footer()
    block scripts
    +scripts(['scripts/build.js'])