.presentation
  position relative
  &__info
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    margin auto
    max-width 600px
    height 300px
    padding-top 10px
    +below(800px)
      height auto
    display flex
    flex-direction column
    align-items center
    +below(1000px)
      justify-content flex-end
      margin-bottom 2em
    +below(550px)
      margin-bottom 0
    +below(480px)
      margin-bottom 2em
  &__ttl
    color white
    margin 40px 0 15px 0
    font-weight 500
    +below(480px)
      display none
  &__text
    color white
    text-align center
    line-height 1.75rem
    +below(1000px)
      display none
  &__length
    color #c7b299
    margin-top 30px
    font-size 0.875rem
    +below(650px)
      display none

  &__video
    width 100%

