.section-about
  background #fbfaf8
  padding-top 100px

.about
  text-align center
  &__text
    width 700px
    margin 20px auto 40px auto
    font-weight 300
    line-height 1.75rem
  &__image-comp
    position relative
    //height 482px
  &__image-middle
    position relative
    margin 0 auto
    z-index 1
  &__image-left
    position absolute
    top 82px
    left 0
  &__image-right
    position absolute 
    right 0
    top 82px

.purchase
  color white
  background linear-gradient(to right, #1c1412, #4d3122)
  padding 50px 0
  &__ttl
    font-size 1.75rem
    font-weight 400
  &__brown
    color #c7b299
  p 
    font-size 1.125rem
    font-weight 300
    color #615855
  .container
    display flex
    align-items center
    justify-content space-around