mixin about()
  // About
  SECTION.section-about
    .container
      +b.about
        +e.H2.ttl Waxom is Realization of your Ideas.
        +e.P.text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero sapiente voluptas quos placeat tempore suscipit quis eaque voluptatem sint eius.
        +e.IMG(src="/assets/images/browser-left.jpg").image-left
        +e.IMG(src="/assets/images/browser-center.jpg").image-middle
        +e.IMG(src="/assets/images/browser-right.jpg").image-right
    +b.purchase
      .container
        +e.left-block
          +e.H3.ttl Waxom Multipurpose WordPress Theme
          +e.P.text Don't Forget to Rate the Template. Thanks so much!
        +b.A(href="").a-button PURCHASE NOW
      
  // About ends 