ul, menu, dir
  -webkit-padding-start 0
  -webkit-margin-before 0
  -webkit-margin-after 0

html
  font-family Montserrat, sans-serif
  color #8c8c8c
  font-size 16px
  background white
  +below(768px)
    font-size 14px
  +below(400px)
    font-size 12px

.svg-sprite
  display none

.container
  max-width container-width
  margin 0 auto
  padding 0 20px
  +below(1100px)
    padding 0 10px
  +below(400px)
    padding 0 5px

h1
  font-family Raleway, sans-serif
  font-size 3.25rem
  font-weight 700
  letter-spacing 0.8px
  word-spacing -1.5px

h2
  font-family Raleway, sans-serif
  font-size 1.875rem
  color #555555
  font-weight 600
  letter-spacing 0.1px
  margin 0

h3
  font-family Raleway, sans-serif
  font-size 2.25rem
  font-weight 500
  letter-spacing 0.2px
  margin 0

h4 
  font-family Raleway, sans-serif
  font-size 1.375rem
  font-weight 600
  margin 0

h5
  font-family Raleway, sans-serif
  font-size 1.25rem
  font-weight 500
  margin 0

a
  text-decoration none

p 
  font-weight 300
  margin 0

.a-button
  border-radius 3px
  background-color #998675
  color white
  font-family Raleway, sans-serif
  font-weight 700
  font-size 0.875rem
  width 166px
  height 47px
  line-height 47px
  text-align center
  border 2px solid transparent
  box-shadow 0 2px 0 0 rgb(115, 99, 86)
  &:hover
    color rgb(115, 99, 86)
  &:active
    box-shadow none
    transform scale(0.99)

.btn-play
  position relative
  width 100px
  height 100px
  border-radius 50%
  background-color rgba(0,0,0,0.2)
  outline 0
  border 0
  cursor pointer
  svg
    position absolute
    left 0
    top 0
    bottom 0
    right 0
    margin auto
    &:first-child
      left 8px
  &:hover
    svg:last-child
      animation spin 1.5s infinite linear
      opacity 0.7
  &:active
    svg:first-child
      opacity 0.4
  @keyframes spin
    to
      transform rotate(360deg)

.a-more
  color #c7b299
  font-size 0.875rem
  font-weight 300
  transition all .25s
  svg
    fill #c7b299
    margin-left 8px
  &:hover
    opacity 0.7
  &:active
    opacity 0.4